<div mat-dialog-content>
  <form #eventForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="event.title" name="title" required>
      <mat-error *ngIf="eventForm.controls['title']?.invalid && eventForm.controls['title']?.touched">
        Title is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="event.start" name="date" placeholder="mm/dd/yyyy" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="eventForm.controls['date']?.invalid && eventForm.controls['date']?.touched">
        Date is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Time</mat-label>
      <input matInput [(ngModel)]="event.time" name="time" type="time" required>
      <mat-error *ngIf="eventForm.controls['time']?.invalid && eventForm.controls['time']?.touched">
        Time is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="event.description" name="description" required></textarea>
      <mat-error *ngIf="eventForm.controls['description']?.invalid && eventForm.controls['description']?.touched">
        Description is required
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
   <button mat-button (click)="deleteEvent(this.event)">Delete</button>
  <button mat-button [disabled]="eventForm.invalid" (click)="saveEvent(event)">Save</button>
</div>
