

#container{
    display: flex;
    background: linear-gradient(to right, #2c363f, #6c766a);
    height: 100svh;
}

mat-drawer-container {
    background-color: transparent;
    font-family: Ubuntu;
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 100%;

}

app-add-user {
    display: flex;;
    align-items: center;
}
article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: start;
    background-color: #bdc3cb; 
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    align-items: center;
    color: #333;
    grid-gap: 20px; 
}

mat-drawer {
    position: fixed;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);
    height: 430px; 
    width: 360px; 
}



.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
button {
	background-color: #4CAF50; 
	border: none;
	border-radius: 4px; 
	color: white;
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.3s;
    margin: 3px;
}
button:hover {
	background-color: #4559a0; 
}