.row.text-center {
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 90px; 
  background-color: whitesmoke;
  align-items: center; 
}

.btn-group .btn {
  border-radius: 6px;
  margin-right: 2px;
  padding: 10px 20px; 
  font-size: 16px; 
  transition: background-color 0.3s, color 0.3s; 
}

.btn-group .btn-primary {
  background-color: #29c1f8; 
  border: none; 
  color: white; 
}

.btn-group .btn-primary:hover {
  background-color: #0056b3; 
}

.btn-group .btn-outline-secondary {
  border: 1px solid #007bff;
  color: white;
  background-color: #3a3a3a; 
}

.btn-group .btn-outline-secondary:hover {
  background-color: #007bff;
  color: white; 
}

.btn-group .btn.active {
  background-color: #3a3a3a; 
  color: white; 
}
.tab-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .tab-content.active {
    opacity: 1;
  }