<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate"/>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [activeDayIsOpen]="true"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-day-view>
</div>
<button (click)="openModal()">Add event</button>

<section class="loggedEvents">
  <article *ngFor="let event of getFilteredEvents()" (click)="openModal(event)">
    <h3>{{ event.title }}</h3>
    <p>{{ event.start | date: 'short' }}</p>
    <p>{{ event.description }}</p>
  </article>
</section>